<div class="filters">
    <div class="filter">
        <div class="media_filter_btn">
            <p (click)="toggleShow()">Filters</p>

            <span>Filters</span>

            <!--                                        <div class="filter_item" *ngIf="isShown" #toggleButton>-->
            <!--                                            <ul class="menu">-->
            <!--                                                &lt;!&ndash;<li class="blue_lg" (click)="filterByVotes('like')">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;<button type="button">New</button>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;</li>&ndash;&gt;-->
            <!--                                                <li (click)="filterByVotes('All')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'All'">-->
            <!--                                                    <button>All</button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Important')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Important'">-->
            <!--                                                    <button type="button"-->
            <!--                                                    >-->
            <!--                                                        important-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Interesting')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Interesting'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Interesting-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Investigate')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Investigate'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Investigate-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Protest')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Protest'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Protest-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                &lt;!&ndash;<li class="gray_lg">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;<button type="button">Questions</button>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;</li>&ndash;&gt;-->
            <!--                                            </ul>-->
            <!--                                            <span class="sortPostsBy">Sort by</span>-->
            <!--                                            <div class="drop__down">-->

            <!--                                                <select (change)="filterByType($event)">-->
            <!--                                                    <option [selected]="selectedFilter.type==='New'">New-->
            <!--                                                    </option>-->
            <!--                                                    <option [selected]="selectedFilter.type==='Score'">-->
            <!--                                                        Score-->
            <!--                                                    </option>-->
            <!--                                                    l-->
            <!--                                                </select>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
        </div>
    </div>
</div>
<div class="filters">
    <div class="filter">
        <div class="media_filter_btn">
            <p (click)="toggleShow()">Filters</p>

            <span>Filters</span>

            <!--                                        <div class="filter_item" *ngIf="isShown" #toggleButton>-->
            <!--                                            <ul class="menu">-->
            <!--                                                &lt;!&ndash;<li class="blue_lg" (click)="filterByVotes('like')">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;<button type="button">New</button>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;</li>&ndash;&gt;-->
            <!--                                                <li (click)="filterByVotes('All')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'All'">-->
            <!--                                                    <button>All</button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Important')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Important'">-->
            <!--                                                    <button type="button"-->
            <!--                                                    >-->
            <!--                                                        important-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Interesting')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Interesting'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Interesting-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Investigate')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Investigate'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Investigate-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                <li (click)="filterByVotes('Protest')"-->
            <!--                                                    [class.filterHighlight]="selectedFilter.vote === 'Protest'">-->
            <!--                                                    <button type="button">-->
            <!--                                                        Protest-->
            <!--                                                    </button>-->
            <!--                                                </li>-->
            <!--                                                &lt;!&ndash;<li class="gray_lg">&ndash;&gt;-->
            <!--                                                &lt;!&ndash;<button type="button">Questions</button>&ndash;&gt;-->
            <!--                                                &lt;!&ndash;</li>&ndash;&gt;-->
            <!--                                            </ul>-->
            <!--                                            <span class="sortPostsBy">Sort by</span>-->
            <!--                                            <div class="drop__down">-->

            <!--                                                <select (change)="filterByType($event)">-->
            <!--                                                    <option [selected]="selectedFilter.type==='New'">New-->
            <!--                                                    </option>-->
            <!--                                                    <option [selected]="selectedFilter.type==='Score'">-->
            <!--                                                        Score-->
            <!--                                                    </option>-->
            <!--                                                    l-->
            <!--                                                </select>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
        </div>
    </div>
</div>
