.actions {
  display: flex;
  justify-content: space-between;

  .homeBtn {
    display: flex;
    justify-content: flex-start;
  }

  .closeSidenav {
    display: flex;
    justify-content: flex-end;
  }
}
