/*Fonts Lato*/
@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('/assets/fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Semi-Bold';
  src: url('/assets/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'BrandonText-Regular';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Regular.otf");
}

@font-face {
  font-family: 'BrandonText-RegularItalic';
  src: url("/assets/fonts/HVD Fonts - BrandonText-RegularItalic.otf");
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Bold.otf");
}

@font-face {
  font-family: 'CalibriLight';
  src: url("/assets/fonts/CalibriLight.ttf");
}

@font-face {
  font-family: 'CalibriRegular';
  src: url("/assets/fonts/CalibriRegular.ttf");
}

@font-face {
  font-family: 'CalibriBold';
  src: url("/assets/fonts/CalibriBold.TTF");
}
